:root{
    --rosa: #f00a5E;
    --rosaClaro: #eb568d;
    --cinza: #eeeeee;
}
*{
    font-family: 'Calibri';
}

#caroselDiv {
    width: 80%;
    height: 80vh;
    margin: auto;
    position: relative;
}

.carousel-caption {
    bottom: 15% !important;
    z-index: 100; 
}

.carousel-indicators {
    bottom: 15% !important; 
}

#botoesV {
    left: 100px;
}

#botoesN {
    right: 100px;
}
#carouselGrande .carousel-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.932), rgba(0, 0, 0, 0));
    pointer-events: none; /* Garante que não interfira nos botões do carrossel */
    
}
button.botoes, h1.botoes, a.botoes, div.botoes{
    border-radius: 25px !important;
    min-width: 150px;
    background-color:  var(--rosa) ;
    border: 2px solid white;
    color: white;
    font-weight: 600;
    text-decoration: none;
}
h1.botoes{
    width: 180px;
    text-align: center;
    padding: 3px;
    

}
button.botoes:hover, a.botoes:hover{
    background-color: rgb(255, 228, 228);
    color: rgb(39, 39, 39);
    transition: 0.2s;
}
input.input-L{
    background-color: var(--rosa);
    height: 5vh;
    padding: 5px;
}
input.input-L::placeholder{
    color:white;
    font-weight: bold;
}




/*Carrossel de 3 imagens */
#imagensCartalogo div img{
    height: 200px;
}
#imagensCartalogo .col{
    padding: 0px !important;
}

/* modal */

#modalLivros {
    width: 95%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    font-family: sans-serif;
    /* background-color: rgb(60, 85, 89); */
}

.book {
    position: relative;
    width: 450px;
    height: 600px;
    transform: translateX(50%);
}

#modalLivros {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    position: relative; 
}

#prev-btn, #next-btn {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10; 
}
.book{
    position: relative;
}
#prev-btn {
    left: 10px; 
}

#next-btn {
    right: -60px;
}

#prev-btn i, #next-btn i {
    font-size: 40px;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
}

#prev-btn i:hover, #next-btn i:hover {
    color: rgb(171, 171, 171);
}


.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.front,
.back {
    background-image: url('../images/pagDireita.png');
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
    border-radius: 8px;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
   
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    padding: 5px;
}
.front-content p,
.back-content p{
    width: 380px;
}
.livrosCatalogo{
    margin-top: 10px;
    overflow: hidden;

}

.back-content .livrosCatalogo img, .front-content .livrosCatalogo img{
    width: auto;
    height: 180px;
   
}
.livrosCatalogo img{
    float: right;
    margin-left: 10px;
}
.back-content {
    transform: rotateY(180deg)
}


/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #a1a1a1;
}

.modal i {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

/* Paper stack order */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}

#b1 h1{
    align-self: start;
    margin-left: 20px;
}
.btn-close{
    filter: invert(1);
    width: 8rem !important;
}

/* matérias */
.topoMateria, .titulosMateria, .questaoDiv {
    width: 90%;
    margin: auto;
}
.conteudoMateria{
    background-color: #dbdbdb;
    width: 90%;
    height: auto;
    margin: auto;
    padding: 10px;

    position: relative;

}
.conteudoMateria img{
    width: 300px;
    position: absolute;
    bottom: 70px;
    right: 60px;
    border-radius: 5px;
}
.conteudoMateria ol li{
    font-weight: bold;
    font-size: 1.2em;
}
.conteudoMateria ol ul li{
    font-weight: 400;
}
.conteudoMateria ol p{
    margin: 0;
    font-size: 1.1em;
}
.materiaCima{
    position: relative;
    top: 10px;
}
h1.materiaBaixo{
    border-radius: 30px !important;
}
.VoltarMateria i{
    font-size: 2.5em;
    color: #762c23;

}
.VoltarMateria button i:hover{
    color: #9c5951;
}

/* questoes */
.questaoTotal{
    width: 90%;
    font-size: 1.1em;
    background-color: #eeeeee;
    margin: auto;
    margin-top: 100px;

}
.questaoTexto{
    width: 42%;
    height: auto;
  
    background-color: #dcdcdc;
    
}
.questaoTexto ol li{
    counter-increment: marcador;
}
.questaoTexto ol li::marker{
    content: counter(marcador, upper-alpha) ") ";
    font-weight: bold;

}
.explicacaoQuestao{
    width: 55%;
    height: auto;
    
    background-color: #dcdcdc;
}
.text-justify{
    text-align: justify;
    
}
.tituloQuestao{
    position: relative;
    top: -75px;
    width: auto;
    margin: 5px;
}
.topoQuestao{
    height: 60px;
}

.cadaLivro .btn-close{
    filter: invert(0) !important;
    width: 10% !important;
}

/* mural */
.board {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    min-height: 700px;
    position: relative;
    padding: 10px;
    padding-top: 0px;
    border: 10px solid #cdaf7b;
    border-radius: 5px;
    background-image: url('../images/fundo_mural.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3rem auto ;
    
    
}
.task {
    background: white;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: grab;
    border-radius: 5px;
    width: 20%;
    height: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute; /* Permite movimentação livre */
    padding-top: 0px;
    
}
.task img{
    width: 100%;
    border-radius: 5px;
}
.task h1, .task p{
    width: 95%;
    margin: auto;
}
#img_Mural{
    
    width: 500px;
    height: 145px;
}

/* telas de atualizações */

#div_user{
    /* background-color: #DEDEDE; */
    border-radius: 5px;
    width: 25%;
    height: 90vh;
    padding: 5px;
}
#div_user img{
    width: 60%;
    /* min-height: 200px; */
    aspect-ratio: 1/1;
}
#div_user div.botoes{
    text-align: center;
    border: none;
}
#div_user a{
    color: black;
    text-decoration: none;
    
}
.criar-livro-div{
    width: 65%;
}
.caixaTxt_livros{
    border: 2px solid rgb(182, 182, 182);
    border-radius: 5px;
}
.form_criar input, .form_criar textarea, .form_criar select{
    height: 6vh;
    border: 2px solid #a1a1a1;
    padding: 0px 5px;
    border-radius: 7px;

}
.form_criar textarea{
    height: 40vh;
}
.form_criar label, .form_criar input::placeholder{
    font-size: 1.2em;
}
.add_img_livro button{
    font-size: 1.1em;
}



.revisar_div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.noticia_div_revisar{
    width: 90%;
    border-radius: 15px;
    margin-bottom: 2em;
    transition: 0.4s ease;
    cursor: pointer;
    text-decoration: none;
    color: rgb(39, 39, 39);
}
.noticia_div_revisar:hover{
    transform: scale(1.08);
}
.noticia_div_revisar h1{
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 0;
}
.noticia_div_revisar p.autor, .txt_noticia_toda p.autor{
    color: #777777;
    font-style: italic;
    margin: 0;
    margin-bottom: 2px;
}

.txt_noticia_toda{
    width: 80%;
    background-color: #e9e9e9;
    border-radius: 10px;
    padding: 1.5em;
    margin: auto;

}
.txt_noticia_toda h1{
    font-weight: 600;
}
.txt_noticia_toda{
    font-size: 1.2em;
}
.txt_noticia_toda p.noticia_toda{
    text-align: justify;
}

.botoes_noticia{
    display: flex;
    justify-content: center;
    gap: 8px;
}
#editar_noticia{
    background-color: rgb(231, 231, 100);
}
#excluir_noticia{
    background-color: rgb(231, 100, 100);
}
#aprovar_noticia{
    background-color: rgb(170, 226, 85);
}
/* criar hover para cada botao */


.botoes_professor{
    background-color: #f9cc19 !important;
}
.botoes_aluno{
    background-color: #71c1e9 !important;
}


.btn_conteudos{
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: max(9vh);
}
.btn_conteudos a{
    width: 90%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin: 0;
    background-color: #762c23;
}
.btn_conteudos a:hover{
    background-color: #be8882;
    color: rgb(233, 233, 233);
}
.questoes{
    
    grid-template-columns: repeat(4, 1fr);
}